body {

    background-color: rgb(216, 205, 225);
}
#container{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    padding-top: 150px;
}
h1{
    font-size: 60px;
}
button{
    padding: 12px 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 12px;
    background-color: rgb(144, 127, 255);
}
button:hover{
    background-color: beige;
}